<%- include('../partials/header', { title: 'Editar Incidència' }) %>

<h1>Editar Incidència</h1>

<form action="/incidencies/<%= incident.id %>/update" method="POST">
  <div class="mb-3">
    <label class="form-label">Descripció</label>
    <input type="text" name="description" class="form-control" value="<%= incident.description %>" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Prioritat</label>
    <select name="prioritat" class="form-select" required>
      <option value="Baixa">Baixa</option>
      <option value="Mitjana">Mitjana</option>
      <option value="Alta" >Alta</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Departament</label>
    <select name="departmentId" class="form-select" required>
      <% departments.forEach(dep => { %>
        <option value="<%= dep.id %>" <%= dep.id === incident.departmentId ? 'selected' : '' %>><%= dep.name %></option>
      <% }) %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Desar Canvis</button>
</form>

<%- include('../partials/footer') %>
