<%- include('../partials/header', { title: 'Llista d\'Incidències' }) %>

<h1>Llista d'Incidències</h1>
<a class="btn btn-primary mb-3" href="/incidencies/new">Afegir Incidència</a>
<ul class="list-group">
  <% incidents.forEach(incident => { %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <strong><%= incident.description %></strong><br>
        <small><strong>Prioritat:</strong> <%= incident.priority %></small><br>
        <small><strong>Departament:</strong> <%= incident.Department ? incident.Department.name : 'Desconegut' %></small>
      </span>
      <span>
        <a href="/incidencies/<%= incident.id %>/edit" class="btn btn-warning">Editar</a>
        <a href="/incidencies/<%= incident.id %>/delete" class="btn btn-danger">Eliminar</a>
      </span>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>
