  <h1>Editar moto</h1>
  <form action="/motorcycles/<%= moto.id %>/update" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nom</label>
      <input
        type="text"
        name="name"
        value="<%= moto.name %>"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="brand" class="form-label">Marca</label>
      <input
        type="text"
        name="brand"
        value="<%= moto.brand %>"
        class="form-control"
        required
      />
    <div class="mb-3">
      <label for="categoryId" class="form-label">Categoria</label>
      <select name="categoryId" class="form-select">
        <% categories.forEach(cat => { %>
          <option
            value="<%= cat.id %>"
            <%= (cat.id === moto.categoryId) ? 'selected' : '' %>>
            <%= cat.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Actualitzar</button>
  </form>
<%- include('../partials/footer') %>